datasets
pandas
git+https://github.com/google/tunix#egg=tunix[tpu]
flax>=0.11.1
jax
jaxlib
fsspec
google-metrax>=0.2.3
grain
huggingface_hub
jaxtyping
jinja2
kagglehub
numba
omegaconf
pylatexenc
python-dotenv
qwix
sentencepiece
sympy
tensorflow_datasets
tqdm
transformers<=4.57.1
hf_transfer
clu>=0.0.12
ml_collections
absl-py
chex
